@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --body-p-color: hsl(240, 6%, 50%);
  --container-color: #FFF;
  --body-font: 'Kumbh Sans', sans-serif;
  --normal-font-size: 0.75rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  /* max-width: 968px; */
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.accordion {
  display: grid;
  align-content: center;
  height: 65vh; 
}

h1 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: black;
  margin-top: 30px;
}

.main-img {
  content: url(/images/illustration-woman-online-mobile.svg);
  position: relative;
  z-index: 2;
  scale: 0.8;
  left: 0px;
  top: 210px;
}

.sub-img {
  content: url(/images/bg-pattern-mobile.svg);
  position: relative;
  z-index: 1;
  scale: 1.1;
  left: 50px;
  top: 100px;
}

.title-faq {
  padding-top: 50px;
  text-align: center;
}

.accordion_container {
  display: grid;
  align-items: center;
  row-gap: .75rem;
  padding: 2rem 1rem;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1);
}

.accordion_title {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: 400;
  margin-top: .15rem;
  transition: .2s;
}

.accordion_header {
  display: flex;
  column-gap: .5rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.accordion_description {
  padding: 0rem 2rem 1rem 1rem;
  font-size: var(--normal-font-size);
}

.accordion_icon {
  font-size: 1.5rem;
  height: max-content;
  color: var(--title-color);
  transition: .3s;
  content: url(/images/icon-arrow-down.svg);
}

.accordion_item {
  border-bottom: solid 1px hsl(240, 5%, 91%);
  background-color: var(--container-color);
  position: relative;
  transition: all .25s ease;
}

.accordion_item::after {
  content: '';
  background-color: var(--first-color);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .25rem 0 0 .25rem;
}

.accordion_content {
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
}

.accordion-open .accordion_icon {
  transform: rotate(180deg);
}

.accordion-open .accordion_title {
  font-weight: 700;
  color: black
}

@media (min-width: 440px) {
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .accordion_container {
    display: grid;
    align-items: center;
    row-gap: .75rem;
    padding: 2rem 1rem 2rem 15rem;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1);
  }
  
  .main-img {
    content: url(/images/illustration-woman-online-desktop.svg);
    position: absolute;
    z-index: 2;
    scale: 1;
    left: 100px;
    top: 200px;
  }
  
  .sub-img {
    content: url(/images/bg-pattern-desktop.svg);
    position: absolute;
    z-index: 1;
    scale: 0.85;
    left: -200px;
    top: -150px;
    overflow: hidden;
  }
  
  .box-img {
    content: url(/images/illustration-box-desktop.svg);
    position: absolute;
    z-index: 3;
    left: 100px;
    top: 340px;
  }
  
  .title-faq {
    padding-top: 0rem;
    padding-left: 1rem;
    text-align: left;
  }
  
  .accordion_container {
    padding-left: 40%;
    padding-right: 10%;
    padding-bottom: 10%;
  }
  
  .accordion {
    width: 150%;
    height: auto;
    margin: auto;
  }
  
}