/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --body-p-color: hsl(240, 6%, 50%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Kumbh Sans', sans-serif;
  --normal-font-size: 0.75rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--body-p-color);
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== ACCORDION ===============*/
.accordion {
  display: grid;
  align-content: center;
  height: 100vh;
}

h1 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: black;
  margin-top: 30px;
}

.title-faq {
  text-align: center;
}

.accordion_container {
  display: grid;
  align-items: center;
  row-gap: .75rem;
  padding: 2rem 1rem;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1);
}

.accordion_title {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: 400;
  margin-top: .15rem;
  transition: .2s;
}

.accordion_header {
  display: flex;
  column-gap: .5rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.accordion_description {
  padding: 0rem 2rem 1rem 1rem;
  font-size: var(--normal-font-size);
}

.accordion_icon {
  font-size: 1.5rem;
  height: max-content;
  color: var(--title-color);
  transition: .3s;
  content: url(/images/icon-arrow-down.svg);
}

.accordion_item {
  border-bottom: solid 1px hsl(240, 5%, 91%);
}

.accordion_content {
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
}

/*Rotate icon and add font weight to titles*/
.accordion-open .accordion_icon {
  transform: rotate(180deg);
}

.accordion-open .accordion_title {
  font-weight: 700;
  color: black
}
